<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<meta charset="UTF-8">
<link rel="stylesheet" href="https://classless.de/classless.css" type="text/css">
<title>Fuel Quote</title>
</head>
<body>
<div class="box">
    <h1>Fuel Quote</h1>
    <label class="" for="gallon_request">Gallon request</label>
    <input type="number" id="gallon_request" name="gallon_request" required>
    <label class="" for="delivery_address">Delivery address</label>
    <input type="text" value="12345 Sample Address, Houston, TX 77777">
    <label class="" for="delivery_date">Delivery date</label>
    <input type="date" id="delivery_date" name="delivery_date" required>
    <label class="" for="suggested_price">Suggested price / gallon</label>
    <input type="number" value="3.00">
    <label class="" for="amt_due">Amount due</label>
    <input type="text" value="$300">
    <button class="back_button"><span style="font-size: 20px;">Back</span></button>
</div>
</div>
</body>
</html>