<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<meta charset="UTF-8">
<link rel="stylesheet" href="https://classless.de/classless.css" type="text/css">
<title>Fuel Quote</title>
</head>
<body>
<div class="gradient_background"></div>
<div class="box">
    <h1>Fuel Quote</h1>
    <input type="text" class="gallon_request" placeholder="Gallon Request" required>
    <input type="text" class="delivery_address" placeholder="Delivery Address" required>
    <input type="text" class="delivery_date" placeholder="Delivery Date" required>
    <input type="text" class="suggested_price" placeholder="Suggested Price / Gallon" required>
    <input type="text" class="amt_due" placeholder="Total Amount Due" required>
    <button class="back_button"><span style="font-size: 20px;">Back</span></button>
</div>
</div>
</body>
</html>