<!DOCTYPE html>
<html>
<head>
<!-- Css files -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='classless.css') }}" type="text/css">

<meta charset="UTF-8">
<title>Gas Station</title>
</head>
<nav>
    <ul>
        <li>Fuel</li>
        {% if not current_user.is_authenticated %}
        <li class="float-right"><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>

<body>
<h1>Login</h1>
<p><em>Sign in to your account</em></p>

<!-- Only shows if there's some kind of error -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<label style="color:red; border:2px red;">
    {{ messages[0] }}
</label>
{% endif %}
{% endwith %}

<form method="POST" action="/login">
    <label for="email">Email:</label>
    <input type=email id="email" name="email" placeholder="Email" required>
    <label for="password_input">Password:</label>
    <input type=password id="password_input" name="password" placeholder="Password" maxlength=100 required>
    <label for="remember">Remember me</label>
    <input type="checkbox" id="remember" name="remember"><br>
    <button>Login</button>
</form>

</body>
</html>
