<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/login.css" type="text/css">
    <title>Gas Station</title>
</head>
<body>
    <div class="login_page">
        <div class="gradient_background"></div>
        <div class="bg_1"></div>
        <div class="bg_2"></div>
        <span class="title">Login</span>
        <span class="subtitle">Sign in to your account</span>
        <span class="username_input">
            <input type=text class="rounded-input custom_textbox" placeholder="Username" required>
        </span>
        <span class="password_input">
            <input type=password class="rounded-input custom_textbox" placeholder="Password" required>
        </span>
        <span class="login_button">
            <button class="rounded-button" style="width: 400px; height: 50px;">Login</button>
        </span>
    </div>
</body>
</html>