<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='classless.css') }}" type="text/css">
<title>Fuel Quote</title>
</head>
<nav>
    <ul>
        <li>Fuel</li>
        <li><a href="{{ url_for('main.quote_history_page') }}">Fuel Quote History</a></li>
        <li class="float-right"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li class="float-right"><a href="{{ url_for('main.profile') }}">Profile</a></li>
    </ul>
</nav>
<body>
<div class="box">
    <h1>Fuel Quote</h1>
    <label for="gallon_request">Gallons requested:</label>
    <input type="number" id="gallon_request" name="gallon_request" value=1 required>
    <!-- TODO: Delivery address pulled from profile-->
    <label for="delivery_address">Delivery address:</label>
    <input type="text" value="12345 Sample Address, Houston, TX 77777" disabled>

    <label for="delivery_date">Delivery date:</label>
    <input type="date" id="delivery_date" name="delivery_date" required>

    <label for="suggested_price">Suggested price / gallon:</label>
    <input type="number" value="3.00" disabled>

    <!-- TODO calculated price * gallon, add $ to beginning somehow? -->
    <label for="amt_due">Amount due:</label>
    <input type="text" id="amt_due" value="$300" disabled>

    <button><span style="font-size: 20px;">Request</span></button>
    <button><span style="font-size: 20px;">Back</span></button>
</div>
</body>
</html>
