<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='classless.css') }}" type="text/css">
<title>Fuel Quote History</title>
</head>
<nav>
    <ul>
        <li>Fuel</li>
        <li><a href="{{ url_for('main.new_fuel_quote_page') }}">New Fuel Quote</a></li>
        <li class="float-right"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li class="float-right"><a href="{{ url_for('main.profile') }}">Profile</a></li>
    </ul>
</nav>
<body>
    <h1>Fuel Quote History</h1>
    <table border="0">
        <tr>
            <td>Date</td>
            <td width="500" style="text-align: left;">Time</td>
            <td></td>
            </tr>
            <tr>
            <td bgcolor="#CCCCCC">02-22-2024</td>
            <td width="500" style="text-align: left; " bgcolor="#CCCCCC">2:00pm</td>
            <td bgcolor="#CCCCCC">Details ></td>
            </tr>
            <tr>
            <td>03-22-2024</td>
            <td width="500" style="text-align: left;">3:00pm</td>
            <td>Details ></td>
            </tr>
            <tr>
            <td bgcolor="#CCCCCC">04-22-2024</td>
            <td width="500" style="text-align: left; " bgcolor="#CCCCCC">4:00pm</td>
            <td bgcolor="#CCCCCC">Details ></td>
            </tr>
    </table>
</body>
</html>
