<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://classless.de/classless.css">
<meta charset="UTF-8">
<title>Gas Station - Register</title>
</head>
<nav>
    <ul>
        <li>Fuel</li>
        <!--TODO Fix these to actually link to pages, and have some be hidden when not logged in-->
        <li><a href="#">New Fuel Quote</a></li>
        <li><a href="#">Fuel Quote History</a></li>
        <li class="float-right"><a href="#">Profile</a></li>
    </ul>
</nav>
<body>
<h1>Register</h1>
<p><em>Create a new account</em></p>
<form method="POST" action="/register">
    <label for="email">Email:</label>
    <input type="email" id="email" placeholder="you@site.com" required>

    <label for="username">Username:</label>
    <input type="text" id="username" placeholder="Username" maxlength=30 required>

    <label for="password_input">Password:</label>
    <input type="password" id="password_input" placeholder="Password" maxlength=30 required>

    <label for="confirm_pw">Confirm password:</label>
    <input type="password" id="confirm_pw" placeholder="Confirm Password" maxlength=30 required>

    <button>Register</button>
</form>
</body>
</html>
